body { margin: 0; }
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}


p {
  margin-top: 0px;
  text-align: justify;
}

* {
  font-family: "Spiegel", Arial, sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.25;
  font-size: 15.5px;  
  color: rgb(1, 1, 1);
}

#app { display: grid; }